{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Liste des compagnies</h1>

    <div class="container">
        <div class="row">
            {% for company in companies %}
                <div class="col-3">
                    <div class="card text-white bg-dark mb-3">
                        <img src="{{ company.picture1 }}" alt="Card-img-top" style="width: 100%; height: auto;">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="card-title">{{ company.title }}</h5>
                                <p class="card-text">{{ company.content }}</p>
                                <p class="card-text">{{ company.price }}</p>
                                <a class="btn btn-outline-light btn-sm"
                                   href="{{ path('company_show', {'id': company.id}) }}">show</a>
                                <a class="btn btn-outline-light btn-sm"
                                   href="{{ path('company_edit', {'id': company.id}) }}">edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-warning" href="{{ path('company_new') }}">Create new</a>
    </div>






{% endblock %}
